name                             = var.managed_mssql_name
database_names                   = ["application"]
dependencies                     = []
administrator_login              = "mssqladmin"
administrator_login_password     = var.managed_mssql_password
retention_days                   = 90
sku_name                         = "GP_Gen5_4"
mssql_version                    = "12.0"
storagesize_mb                   = 256
location                         = "canadacentral"
resource_group                   = "XX-XXXX-XXXX-XXX-XXX-RGP"
subnet_id                        = var.managed_mssql_subnet_id
firewall_rules                   = []
ssl_minimal_tls_version_enforced = "1.2"
vulnerability_assessment_emails  = []
